﻿
<head>
    @{
        ViewBag.Title = "Login";
    }
    @{
        Layout = null;
    }
    <title>Batch Mate - @ViewBag.Title</title>

    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" />
    <!-- Global stylesheets -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />

    <!-- /global stylesheets -->
    <!-- Core JS files -->

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <!-- /core JS files -->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSignIn').click(function () {
                if ($('.login-form input').val() == '') {

                }
                else {
                    $('#btnSignIn').html("<i class='icon-spinner4 spinner position-left'></i> Verifying login data");
                    $('#btnSignIn').addClass('disabled');
                }
            });
            $('#UserName').focus();
        });
    </script>
</head>


<body class="login-container" cz-shortcut-listen="true">
    <div class="page-container">
        <div class="page-content">
            <div class="page-content-wrapper">
                <div class="scrollable" id="scrollable">
                    <div class="login-form" style="top:150px;">
                        @using (Html.BeginForm("signin", "authentication", FormMethod.Post))
                        {
                            <div class="text-center">
                                <img src="~/Content/img/batch-mate-logo.jpg" alt="Batch Mates" height="60">
                            </div>

                            <div class="form-group mt-30">
                                <label>Email</label>
                                @Html.TextBox("uname", null, new { @class = "form-control", @placeholder = "enter your registered email id" })
                                <span class="focus-input"></span>
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                @Html.TextBox("pass", null, new { @class = "form-control", @type = "password", @placeholder = "*************" })
                                <span class="focus-input"></span>
                            </div>

                            <div class="form-group pull-left">
                                <a href="~/authentication/register" id="btnSignIn" class="btn btn-success btn-md">Click to register</a>
                            </div>

                            <div class="form-group pull-right">
                                <button id="btnSignIn" class="btn btn-primary btn-md" onclick="signin();" type="submit">Sign in</button>
                            </div>
                            <br />
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- start js include path -->
<script src="../content/js/login.js"></script>
<script src="../content/js/pages.js" type="text/javascript"></script>
<!-- end js include path -->
