﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>verifyaccount</title>
</head>
<body>
    <div style="margin-top:50px;">
        <div style="text-align:center;font-family:Arial, Helvetica, sans-serif; font-size:17px;color:#c71585;" id="verificationMessage"></div><br />

        <div style="text-align:center;font-family:Arial, Helvetica, sans-serif;text-decoration:none; font-size:15px;">
            <a href="~/authentication/login" style="padding:8px 12px;border:1px solid #c71585;border-radius:2px;font-family:Helvetica, Arial, sans-serif;font-size:16px;background-color:#c71585;color:#fff;text-decoration:none;font-weight:bold;display:inline-block;">Go to Login</a>
        </div>
    </div>
</body>
</html>
<script src="~/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="~/assets/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="~/Scripts/Batchmates/03_alumni_registration.js"></script>
