/*
 *  Document   : style.css
 *  Author     : RedStar Theme
 *  Description: The common theme stylesheet
 */
body {
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
}

@font-face {
    font-family: 'zynq';
    src: url('fonts/zynq.eot?p6n0d2');
    src: url('fonts/zynq.eot?p6n0d2#iefix') format('embedded-opentype'), url('fonts/zynq.ttf?p6n0d2') format('truetype'), url('fonts/zynq.woff?p6n0d2') format('woff'), url('fonts/zynq.svg?p6n0d2#zynq') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-zynq-font"], [class*=" icon-zynq-font"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'zynq' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.margin-none {
    margin: 0;
}

.mt-1 {
    margin-top: 1px;
}

.mt-4 {
    margin-top: 4px !important;
}

.mt-5 {
    margin-top: 5px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-27 {
    margin-top: 27px;
}

.mt-30 {
    margin-top: 30px;
}

.mtn-5 {
    margin-top: -5px;
}

.mtn-12 {
    margin-top: -12px;
}

.mhn-20 {
    margin-left: -20px;
    margin-right: -20px;
}

.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.space-r-none {
    right: 0;
}

.space-none {
    padding: 0;
}

.ph-15 {
    padding: 0 15px;
}

.ph-3 {
    padding: 0 3px;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.ph-3 {
    padding: 0px 3px;
}

.ph-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-7 {
    margin-bottom: 7px;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mr-2 {
    margin-right: 2px;
}

.mr-7 {
    margin-right: 7px;
}

.mr-5 {
    margin-right: 5px;
}

.ml-3 {
    margin-left: 3px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.btn-success, .btn-success:hover, .btn-success:focus {
    color: #fff;
    background-color: #37c14c;
    border-color: #37c14c;
}
/* Doctor list style*/
ul.docListWindow {
    list-style-type: none;
    padding: 0 10px;
}

    ul.docListWindow li {
        display: inline-block;
        width: 100%;
        border-bottom: 1px dashed #dcdcdc;
        margin-bottom: 11px;
        padding-bottom: 11px;
    }

        ul.docListWindow li .prog-avatar {
            width: 40px;
            height: 40px;
            float: left;
            margin-right: 25px;
        }

            ul.docListWindow li .prog-avatar img {
                width: 100%;
                border-radius: 50%;
                -webkit-border-radius: 50%;
            }

    ul.docListWindow .progress {
        height: 10px;
        text-indent: 0;
        margin: 0;
    }

    ul.docListWindow .progress-bar {
        text-align: right;
        padding-right: 15px;
        line-height: 10px;
        font-size: 10px;
    }

// Notifications .noti-information .notification-list {
    padding: 0;
}

.notification-list a:first-child {
    border-top: none;
}

.noti-information .notification-list a {
    padding: 10px 18px 10px 18px;
}

.notification-list a {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #f3f3f3;
    color: #2b2b2c;
    text-decoration: none;
    font-size: 14px;
}

.notification-list.not-list a span.icon {
    margin-top: 5px;
}

.notification-list.mail-list a span.icon {
    padding: 3px 10px;
    margin-top: 0px;
    color: white;
}

.notification-list a span.icon {
    margin-right: 15px;
    font-size: 16px;
    float: left;
}

.notification-list.mail-list.not-list {
    background: #e7ecf1;
}

.notification-list p,
.notification-list p small {
    margin: 0;
    padding: 0;
}

.noti-information .mail-list .un-read,
.noti-information .mail-list .read {
    right: 20px;
}

.mail-list .single-mail {
    position: relative;
}

a.single-mail.text-center.view-all {
    background: white;
}

.not-list span.icon {
    width: 40px;
    height: 40px;
    line-height: 33px;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
}

.bg-primary {
    color: #fff;
    background-color: #9c78cd;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mail-list .un-read,
.mail-list .read {
    position: absolute;
    right: 0px;
    top: 32px;
    font-size: 12px;
    color: #dfdfe2;
}

.vew-mail-header {
    color: #666f7b;
    font-weight: 700;
}

.fa-comments-o:before {
    content: "\f0e6";
}

.bg-warning {
    color: #fff;
    background-color: #ffd200;
}

.bg-success {
    background: #5FC29D;
}

.bg-orange {
    background: #E67D21;
}

.bg-blue {
    background: #3598dc;
}

.bg-purple {
    background: #8E44AD;
}

.bg-danger {
    color: #fff;
    background-color: #e55957;
}

.bg-danger {
    background: #e55957;
}

.panel-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.work-monitor .states {
    width: 90%;
}

    .work-monitor .states .info {
        display: inline-block;
        width: 100%;
        font-size: 15px;
        margin: 10px 0 0 0;
        font-weight: 500;
    }

.progress.progress-sm {
    height: 8px;
}

.work-monitor .title {
    margin: 0 0 40px 0;
}

.text-danger {
    color: #f44336;
}

.md {
    line-height: inherit;
    vertical-align: bottom;
}

.md-refresh:before {
    content: "\f2a4";
}

.card .btn-collapse {
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-angle-down:before {
    content: "\f107";
}

section.panel.tab-border {
    border: 1px solid #e5e5e5;
}

.select.control {
    background: #262936;
    border-radius: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    position: relative;
}

    .select.control:after {
        content: " ";
        width: 7px;
        height: 9px;
        background: url(images/arrow-down.png);
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        z-index: 1;
    }

    .select.control select {
        padding: 10px 30px;
        width: 110%;
        border: none;
        background: none;
        outline: none;
        -webkit-appearance: none;
        color: white;
    }

// widget .sidebar .widget {
    background: #262936;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.sidebar .widget .widget-title {
    font-size: 24px;
    font-size: 1.7142857143em;
    margin-bottom: 20px;
    font-weight: 300;
}

.sidebar .widget .arrow-list li {
    border: none;
}

.sidebar .widget.top-rated {
    padding: 0;
}

    .sidebar .widget.top-rated .widget-title {
        padding: 20px 20px 0;
    }

    .sidebar .widget.top-rated ul {
        list-style: none;
    }

        .sidebar .widget.top-rated ul li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding: 10px 20px;
        }

            .sidebar .widget.top-rated ul li:last-child {
                border-bottom: none;
            }

    .sidebar .widget.top-rated .entry-title {
        font-size: 14px;
        font-size: 1em;
        margin-bottom: 5px;
        font-weight: 300;
    }

        .sidebar .widget.top-rated .entry-title a {
            color: #bfc1c8;
        }

    .sidebar .widget.top-rated .rating strong {
        color: #009ad8;
    }

.widget-gradient,
.widget-wrap-img {
    min-height: 350px;
    border-radius: 2px;
}

.megamenu-header {
    display: block;
    padding: 0px 20px 5px 0px;
    font-size: 22px;
    line-height: 1.428571429;
    color: #fafafa;
}

.mega-menu-item-name {
    color: #fafafa;
    padding: 10px 0px 10px 0px;
}

@media (max-width: 991px) {
    .page-header.navbar .top-menu {
        background-color: transparent;
        position: absolute;
        right: 60px;
    }

    .page-header.navbar .page-logo {
        width: 100%;
    }

    .page-content-wrapper .page-content .page-title {
        margin-top: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .page-header.navbar .page-logo .logo-default {
        height: auto !important;
        max-width: 142px !important;
    }

    .page-header.navbar .page-logo {
        width: 165px;
    }

    .page-header.navbar .hor-menu .navbar-nav > li > a {
        padding: 20px 10px;
    }
}

.demo-container {
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.demo-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.legend table {
    border-spacing: 5px;
}

.clsAvailable {
    color: #0cc745;
    font-size: 13px;
    font-weight: 600;
}

.clsNotAvailable {
    color: #ff0000;
    font-size: 13px;
    font-weight: 600;
}

.clsOnLeave {
    color: #32c5d2;
    font-size: 13px;
    font-weight: 600;
}

.table-padding {
    padding-bottom: 20px;
    padding-top: 20px;
}

.doctitle {
    padding-bottom: 5px;
}

.user-bg {
    margin: -25px;
    overflow: hidden;
    position: relative;
}

    .user-bg .overlay-box {
        background: #9675ce;
        opacity: .9;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        text-align: center;
    }

        .user-bg .overlay-box .user-content {
            padding: 15px;
        }

.user-btm-box {
    padding: 40px 0 10px;
    clear: both;
    overflow: hidden;
}

.input-group-btn .btn {
    box-shadow: none;
}

.addr-font-h1 span {
    font-size: 14px;
    vertical-align: text-top;
}

.text-stat h3 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 18px;
}

.text-stat span {
    font-size: 13px !important;
}

.overflow-h {
    overflow: hidden;
}

.rt-code {
    padding: 3px;
    color: #E43A45;
    border-radius: 4px !important;
    display: inline;
    word-wrap: normal;
}

.caption-desc {
    font-size: 13px;
    margin-top: .5em;
    line-height: 2.3em;
}

.mail-label {
    padding: .2em .6em .3em !important;
}

.mail-counter-style {
    padding: 2px 6px 4px !important;
}

h4.media-heading {
    color: #3D3D3D;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}

.language-switch a {
    color: #1E2629;
}

.notification-label {
    float: right;
    border-radius: 10px;
    padding: 0px 10px;
    color: #fff;
}

.task-body .list-group-item {
    border-width: 0 0 1px 0;
    margin: 0;
}

.progress-line {
    background: #e7ecf1;
}

span.notificationtime {
    display: block;
}

span.online-status {
    display: block;
    margin-bottom: 0;
    padding: 0 22px;
    color: #9d9f9e;
    font-size: 11px;
    margin-top: 0px;
}

.addr-font-h3 {
    font-size: 24px;
}

.addr-font-h4 {
    font-size: 18px;
}

.close {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat !important;
    text-indent: -10000px;
    outline: 0;
    background-image: url(../img/remove-icon-small.png) !important;
}

.help-block {
    margin-top: 5px;
    margin-bottom: 5px;
}

.help-inline {
    font-size: 13px;
    color: #737373;
    display: inline-block;
    padding: 5px;
}

.input-mini,
.input-xxs {
    width: 45px !important;
}

.progress {
    border: 0;
    background-image: none;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 8px;
    border-radius: 0 !important;
    margin: 0;
}

.progress-bar-success {
    background-color: #36c6d3;
}

.state-overview .addr-font-h1 {
    font-size: 36px;
    float: left;
    width: auto;
}

.no-pad-left {
    padding-left: 0 !important;
}

.text-purple .fa-facebook {
    font-size: 20px;
}

.text-success .fa-twitter {
    font-size: 20px;
}

.text-danger .fa-instagram {
    font-size: 20px;
}

.refresh-block {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    -webkit-transition: all .05s ease;
    transition: all .05s ease;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1000;
    border-radius: 2px;
}

    .refresh-block .refresh-loader {
        display: inline-block;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        margin-left: -16px;
        margin-top: -16px;
    }

        .refresh-block .refresh-loader i {
            display: inline-block;
            line-height: 32px;
            color: #000;
            font-size: 16px;
        }

/* Social Buttons */
.btn-facebook {
    color: #ffffff !important;
    background-color: #3b5998 !important;
}

.btn-twitter {
    color: #ffffff !important;
    background-color: #00aced !important;
}

.btn-linkedin {
    color: #ffffff !important;
    background-color: #007bb6 !important;
}

.btn-dribbble {
    color: #ffffff !important;
    background-color: #ea4c89 !important;
}

.btn-googleplus {
    color: #ffffff !important;
    background-color: #dd4b39 !important;
}

.btn-instagram {
    color: #ffffff !important;
    background-color: #517fa4 !important;
}

.btn-pinterest {
    color: #ffffff !important;
    background-color: #cb2027 !important;
}

.btn-dropbox {
    color: #ffffff !important;
    background-color: #007ee5 !important;
}

.btn-flickr {
    color: #ffffff !important;
    background-color: #ff0084 !important;
}

.btn-tumblr {
    color: #ffffff !important;
    background-color: #32506d !important;
}

.btn-skype {
    color: #ffffff !important;
    background-color: #00aff0 !important;
}

.btn-youtube {
    color: #ffffff !important;
    background-color: #bb0000 !important;
}

.btn-github {
    color: #ffffff !important;
    background-color: #171515 !important;
}

.app-search {
    position: relative;
}

.contact-detail {
    float: left;
    width: 100%;
}

    .contact-detail .fa {
        float: left;
        width: 30px;
        font-size: 20px;
        margin-top: 5px;
    }

    .contact-detail span {
        float: left;
        width: calc(100% - 30px);
        margin-bottom: 20px;
    }

    .contact-detail .fa-envelope {
        font-size: 15px;
    }

    .contact-detail .fa-mobile {
        font-size: 25px;
    }

.text-center {
    text-align: center !important;
}

.p-none {
    padding: 0 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fbfcfd;
}

/****Custom****/
body, .form-control {
    font-size: 13px;
}

img {
    image-rendering: optimize-contrast;
    image-rendering: -webkit-optimize-contrast;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-none {
    margin-top: 0;
}

.m-none {
    margin: 0 !important;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.space-none {
    padding: 0 !important;
}

.inline-block {
    display: inline-block;
}

.f-14 {
    font-size: 14px;
}

.f-15 {
    font-size: 15px;
}

.f-16 {
    font-size: 16px !important;
}

.f-18 {
    font-size: 18px;
}

.f-22 {
    font-size: 22px;
}

.f-24 {
    font-size: 24px;
}

.f-44 {
    font-size: 44px;
}

.position-left {
    margin-right: 7px;
}

.text-semibold {
    font-weight: 500;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    font-size: 12px;
}

.form-control {
    border-radius: 0 !important;
    /*border-width: 0 0 1px;*/
}

.form-horizontal .control-label {
    margin-bottom: 5px;
    text-align: left;
}

.input-group .input-group-addon {
    border-width: 1px;
}

.page-header.navbar .page-logo {
    padding-left: 10px;
}

    .page-header.navbar .page-logo .logo-default {
        height: 50px;
        max-width: 212px;
    }

.label-success {
    background-color: #32c861 !important;
}

.border-bot {
    border-width: 0 0 1px;
}

.checkbox {
    padding-left: 20px !important;
}

.modal .modal-header {
    border-bottom: 1px solid #34d3eb;
    padding: 10px 15px;
}

/*.modal-backdrop {
    z-index: 9999;
}*/

.modal-dialog.modal-lg {
    width: 900px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}

.dataTables_filter label, .dataTables_paginate ul {
    float: right;
}

.w-3 {
    width: 3% !important;
}

.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.div2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

h1.loader {
    position: absolute;
    color: #045589;
    margin: auto;
    top: 45%;
    font-weight: bold;
    bottom: 0;
    right: 0;
    font-size: 40px;
    left: 0;
    text-align: center;
}

    h1.loader:before {
        width: 60px;
        height: 60px;
        background-size: 60px;
        position: absolute;
        overflow: hidden;
        max-height: 1.2em;
        white-space: nowrap;
        color: #6bbaec;
        animation: loading 5s linear infinite;
        z-index: 9999;
        content: "BM";
    }

@keyframes loading {
    0% {
        max-height: 0;
    }
}

h1.loader img {
    font-size: 60px;
    width: 60px;
}

.emblem {
    position: absolute;
    left: 0;
    right: 0;
    top: 42%;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-weight: bold;
    color: #003A6F;
    animation: spinZ 3s linear infinite;
    text-align: center;
}

    .emblem span {
        position: absolute;
        display: inline-block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-transform: uppercase;
        font-size: 9px;
        transition: all .5s cubic-bezier(0,0,0,1);
    }

@keyframes spinZ {
    0% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3,
.page-header.navbar .hor-menu .navbar-nav > li > a, .page-header.navbar .hor-menu .navbar-nav > li > a > i {
    color: #333;
}

    .page-header.navbar .hor-menu .navbar-nav > li.open > a, .page-header.navbar .hor-menu .navbar-nav > li:hover > a,
    .page-header.navbar .hor-menu .navbar-nav > li > a:hover, .page-header.navbar .hor-menu .navbar-nav > li.open > a > i, .page-header.navbar .hor-menu .navbar-nav > li:hover > a > i, .page-header.navbar .hor-menu .navbar-nav > li > a:hover > i {
        color: #333333;
        background-color: #f8f8f8 !important;
    }

    .page-header.navbar .hor-menu .navbar-nav > li > a i {
        font-size: 16px;
    }

.overview-panel, .card-body, .card {
    border-radius: 0;
}

.overview-panel {
    background: #ffffff;
    color: #333333;
}

.alert-autocloseable-success, .alert-autocloseable-danger {
    left: 0;
    margin: 0 auto !important;
    right: 0;
    text-align: center;
    width: max-content;
    top: 102px !important;
}

legend {
    font-size: 12px;
    padding-bottom: 10px;
    font-weight: 500;
}

.form-horizontal .control-label {
    padding-top: 0;
}

table.radio-inline td {
    padding: 6px 30px 0 0;
}

.text-white {
    color: #ffffff;
}

.card-topline-yellow {
    border-top: 1px solid #34d3eb;
}

.table thead tr th, .card-head header {
    font-size: 13px;
    border-bottom: 0;
}

.box-l {
    height: 376px;
}

.nav-tabs.nav-tabs-attach > li > a {
    border: none;
    background: transparent;
    margin-bottom: -1px;
    color: #555;
}

.nav-tabs.nav-tabs-attach > li.active > a, .nav-tabs.nav-tabs-attach > li.active > a:hover, .nav-tabs.nav-tabs-attach > li.active > a:focus {
    border-bottom: 2px solid #34d3eb;
    border-width: 0 0 2px 0;
    background: transparent;
}

.border-none {
    border: none !important;
}

.control-label .required, .form-group .required {
    padding-left: 12px;
}

.text-bold {
    font-weight: 600;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a > i, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
    color: #333333;
    font-weight: 400;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu {
    background-color: #ffffff;
}

    .dropdown-menu > li.active:hover > a, .dropdown-menu > li.active > a, .dropdown-menu > li:hover > a, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
        background-color: #f8f8f8;
    }

.checkbox label {
    margin-right: 12px;
}

.datepicker .active, .datepicker .active:hover {
    background-color: #37474F !important;
    color: #fff;
}

.datepicker table td {
    padding: 5px 9px !important;
}

.datepicker.dropdown-menu {
    padding: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #ddd !important;
}

.datepicker table tr td span {
    height: 34px;
    line-height: 34px;
}

.panel-heading {
    border-color: #ddd;
}

#external-events {
    position: fixed;
    width: 30%;
    top: 0;
    right: -30%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    height: 100%;
    z-index: 9999;
    box-shadow: 4px 5px 10px #000;
}

#fullCalModal.modal {
    right: 31%;
}

@media screen and (min-width: 1600px) {
    #external-events {
        width: 23%;
        right: -23%;
    }

    #fullCalModal.modal {
        right: 24%;
    }
}

@media screen and (max-width: 1199px) {
    #external-events {
        width: 35%;
        right: -35%;
    }

    #fullCalModal.modal {
        right: 34%;
    }
}

@media screen and (max-width:900px) {
    #external-events {
        width: 50%;
        right: -50%;
    }

    #fullCalModal.modal {
        right: 50%;
    }
}

@media screen and (max-width:600px) {
    #external-events {
        width: 95%;
        right: -95%;
    }

    #fullCalModal.modal {
        right: 0;
    }
}

.fc-events-container {
    background-color: transparent;
    border-color: transparent;
    padding: 20px;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    height: 100%;
}

.fc-view-container .fc-view > table th, .fc-view-container .fc-view > table td {
    cursor: pointer;
}

.slide-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0.5;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.fc-event span {
    display: block;
    color: #999;
    text-transform: capitalize;
}

.fc-day-grid-event.fc-event span {
    color: #fff;
}

.fc-event .fc-text {
    display: inline-block;
    width: 90%;
}

.fc-event i {
    vertical-align: top;
}

.icon-right {
    position: absolute;
    right: 15px;
    top: 38%;
    bottom: 0;
    margin: auto;
}

.fc-toolbar .fc-right > .fc-button {
    float: right;
    text-transform: capitalize;
}

.fc-toolbar .fc-right > .fc-button, .fc-state-default.fc-corner-right, .fc-state-default.fc-corner-left {
    border-radius: 0;
}

.nav-pills.nav-slide > li > a, .nav-pills.nav-slide > li.active > a, .nav-pills.nav-slide > li.active > a:hover, .nav-pills.nav-slide > li.active > a:focus {
    color: #333;
    background-color: transparent;
}

#external-events .btn-trans {
    border-color: transparent;
}

.nav-slide-one.nav-tabs > .active > a, .nav-slide-one.nav-tabs > .active > a:hover,
.nav-slide-one.nav-tabs > .active > a:focus {
    background-color: #f9b043;
    border: 1px solid #f9b043;
    color: #fff;
}

.nav-slide-one.nav-tabs > li > a, .nav-slide.nav-pills > li > a.btn-default {
    background: #fafafa;
    border: 1px solid #ddd;
    margin-right: 5px;
    color: #888;
    padding: 6px 12px;
}

.nav-slide.nav-pills > li.active > a.btn-default {
    background-color: #34d3eb;
    border-color: #34d3eb;
    color: #fff;
}

#external-events ul.nav {
    display: inline-block;
}

@media screen and (max-width:1000px) {
    #external-events .nav > li {
        float: left;
    }
}

@media (max-width: 768px) {
    .nav-tabs:before {
        content: "";
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .scrollable {
        position: fixed;
        top: 50px;
    }

    .login-container .page-container .login-form {
        width: 300px;
    }
}

#external-events .tabbable, #external-events .tab-content, #external-events .tab-content > .active {
    height: 98%;
}

#external-events .scrollbar {
    height: 90%;
    overflow-y: auto;
}

#external-events .btn-trans {
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 0 5px;
    margin: 0;
}
/**** Calendar changes End ****/

.form-control.datepicker {
    padding: 6px 12px;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.login-right-box {
    border: 1px solid #C71585;
    top: 50px;
    padding: 10px;
    box-shadow: -2px 6px 7px 2px #928f8f;
}

.register-left-box {
    top: 105px;
    padding-left: 50px;
}

.btn-primary, button.btn-primary, .btn-primary:focus, .btn-primary.focus, .btn-primary:hover, .btn-primary:active, .btn-primary:active:hover,
button.btn-primary:focus, button.btn-primary.focus, button.btn-primary:hover, button.btn-primary:active, button.btn-primary:active:hover,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, .btn-primary.disabled:focus {
    background-color: #c71585;
    border-color: #c71585;
}

.btn-success, button.btn-success, .btn-success:focus, .btn-success.focus, .btn-success:hover, .btn-success:active, .btn-success:active:hover,
button.btn-success:focus, button.btn-success.focus, button.btn-success:hover, button.btn-success:active, button.btn-success:active:hover,
.btn-success.disabled:hover, .btn-success[disabled]:hover, .btn-success.disabled:focus {
    background-color: #0f6cc3;
    border-color: #0f6cc3;
}

.login-container .page-container .login-form {
    position: relative;
    background: #ffffff;
    width: 410px;
    border-top: 5px solid #c71585;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.login-form form {
    padding: 30px 40px;
}

.scrollable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-flex: 1;
}

/*Background for Navbar*/
.bm-navbar-bg {
    background-color: #C71585;
    border: 1px solid #C71585;
    box-shadow: 0 5px 8px -6px black;
}
