﻿
@{
    ViewBag.Title = "details";
}

<h2>details</h2>

<div class="content-wrapper" style="margin-top:25px;">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class="pull-left">
                    <div class="page-title">
                        <a href="../batchmates/list">
                            <i class="fa fa-arrow-circle-o-left"></i>
                        </a>
                        <span class="icon-user mr-5" style="font-size: 21px;"></span>&nbsp; Alumnus Name
                    </div>
                </div>
                <div class="col-sm-2 pull-right">
                    @*<asp:DropDownList ID="ddlPatientStatus" ClientIDMode="Static" runat="server" class="btn btn-info mb-0" Style="width: 100%; border-color: #fff !important;">
                        </asp:DropDownList>*@
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="borderBox-title tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#borderBox_tab1" data-toggle="tab">Details </a>
                    </li>
                    <li>
                        <a href="#borderBox_tab2" data-toggle="tab">Education</a>
                    </li>
                </ul>
            </div>

            <div class="borderBox-body panel-body card mt-none">
                <div class="tab-content form-horizontal">
                    <div class="tab-pane active" id="borderBox_tab1">
                        <div class="row">
                            <div class="col-sm-6">
                                <legend><strong>Basic</strong></legend>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                First Name
                                                <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("dob", null, new { @class = "form-control", @placeholder = "first name" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Middle Name
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("uname", null, new { @class = "form-control", @placeholder = "middle name" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Last Name<span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("uname", null, new { @class = "form-control", @placeholder = "last name" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Email
                                                <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("dob", null, new { @class = "form-control", @placeholder = "enter email id" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Mobile / Phone Number <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("uname", null, new { @class = "form-control", @placeholder = "enter date of marriage" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="checkbox" name="chkContactPublic" id="chkContactPublic" class="pull-left" style="height:20px;width:20px;" />
                                                <span class="chkbox-text-position">Contact information visible to all?</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Date of Birth
                                                <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("dob", null, new { @class = "form-control", @placeholder = "enter date of birth" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Date of Marriage
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("uname", null, new { @class = "form-control", @placeholder = "enter date of marriage" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <legend><strong>Permanent Address</strong></legend>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Building / House / Society Name
                                                <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("dob", null, new { @class = "form-control", @placeholder = "enter building name, society name" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Area
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("uname", null, new { @class = "form-control", @placeholder = "enter area name" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Country <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.DropDownList("email", Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-xs select-search", @validationTabDetails = "validation" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                State / Province <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.DropDownList("email", Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-xs select-search", @validationTabDetails = "validation" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                City <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.DropDownList("district", Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-xs select-search", @validationTabDetails = "validation" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Pincode
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("uname", null, new { @class = "form-control", @placeholder = "enter pincode" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Comments [ 500 char ]
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextArea("phone", null, new { @class = "form-control", @placeholder = "enter your comments / suggestions", style = "height:70px;" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <legend><strong>Current Profession</strong></legend>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Organization / Business Name
                                                <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("dob", null, new { @class = "form-control", @placeholder = "enter name of organization" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Designation
                                                <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("dob", null, new { @class = "form-control", @placeholder = "enter your designation" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <legend><strong>Current Address</strong></legend>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Building / House / Society Name
                                                <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("dob", null, new { @class = "form-control", @placeholder = "enter building name, society name" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Area
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("uname", null, new { @class = "form-control", @placeholder = "enter area name" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Country <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.DropDownList("email", Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-xs select-search", @validationTabDetails = "validation" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                State / Province <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.DropDownList("email", Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-xs select-search", @validationTabDetails = "validation" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                City <span class="text-danger">* </span>
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.DropDownList("district", Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-xs select-search", @validationTabDetails = "validation" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12">
                                                Pincode
                                            </label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("uname", null, new { @class = "form-control", @placeholder = "enter pincode" })
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <input type="button" id="btnSubmit" value="Submit" class="btn btn-primary" />
                                </div>
                                <div class="pull-Left">
                                    <input type="button" id="btnDeactvate" value="Deactivate" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="borderBox_tab2">
                        <div class="col-md-12">
                            <div class="btn-group pull-left btn-animate">
                                <button type="button" id="btnAddEducation" class="btn btn-success btn-animated btn-sm pr-40" data-toggle="modal" data-target="#education_details">Add Education<i class="icon-plus3 text-white f-12"></i></button>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group mb-0">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Education</th>
                                                        <th>Passing Year</th>
                                                        <th>Record Edit / Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Higher Secondary Class (HSC)</td>
                                                        <td>1999-2000</td>
                                                        <td>
                                                            &nbsp;&nbsp;<a href="#" class="editRow" title="Edit" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></a>
                                                            &nbsp;&nbsp;
                                                            <a href="#" class="deleteRow" title="Remove" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-trash"></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="education_details" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content c-square">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Education</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Passed Stream
                                </label>
                                @Html.DropDownList("education", Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-xs", @validationTabDetails = "validation" })
                                <span class="focus-input"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Year of Passing
                                </label>
                                @Html.DropDownList("passing_year", Enumerable.Empty<SelectListItem>(), new { @class = "form-control input-xs", @validationTabDetails = "validation" })
                                <span class="focus-input"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group pull-right">
                                <input type="button" id="btnSubmit" value="Add" class="btn btn-primary" />
                            </div>
                            <div class="btn-group pull-right mr-5">
                                <input type="button" id="btnSubmit" value="Delete" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
