﻿
@{
    ViewBag.Title = "list";
}


<script>
        $(document).ready(function() {
            $('#exampleData').DataTable();
        });
</script>

<h2>list</h2>

<div class="content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class="pull-left">
                    <div class="page-title"><i class="fa fa-users" style="font-size: 19px;"></i>&nbsp;Alumni</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <table id="exampleData" class="display table">
                    <thead>
                        <tr>
                            <th>Alumni ID </th>
                            <th>Name </th>
                            <th>Year Of Passing (HSC) </th>
                            <th>Contact No. </th>
                            <th>Current City </th>
                            <th>Account Active?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A20-1</td>
                            <td>Mukesh Patil</td>
                            <td>1999-2000</td>
                            <td>9960827637</td>
                            <td>Pune</td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>A20-2</td>
                            <td>Anupmp Nanrma</td>
                            <td>2002-2003</td>
                            <td>9881002822</td>
                            <td>Mumbai</td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>A20-3</td>
                            <td>Krikit Bolbol</td>
                            <td>2001-2002</td>
                            <td>9881002821</td>
                            <td>Mumbai</td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>A20-4</td>
                            <td>Rupesh Neve</td>
                            <td>1998-1999</td>
                            <td>9881002822</td>
                            <td>Chopda</td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>A20-5</td>
                            <td>Paidal Parking</td>
                            <td>2001-2002</td>
                            <td>9881002822</td>
                            <td>Nasik</td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>A20-6</td>
                            <td>Armal Tikame</td>
                            <td>1999-2000</td>
                            <td>9881002822</td>
                            <td>Pune</td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>A20-7</td>
                            <td>Kamana Awrsthi</td>
                            <td>1999-2000</td>
                            <td>9881002822</td>
                            <td>Aurangabad</td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>A20-8</td>
                            <td>Rupesh Neve</td>
                            <td>1999-2000</td>
                            <td>9881002822</td>
                            <td>Pune</td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->
<script type="text/javascript">
    function ChangeColor(tableRow, highLight) {
        if (highLight) {
            tableRow.style.backgroundColor = '#F5F5F5';
        }
        else {
            tableRow.style.backgroundColor = 'white';
        }
    }
    function DoNav(theUrl) {
        document.location.href = theUrl;
    }
</script>