﻿
@{
    ViewBag.Title = "profile";
}

<h2>profile</h2>

<div class="content-wrapper">
    <div class="clearfix"> </div>
    <!-- start page content -->
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar">
                    <div class="card card-topline-aqua">
                        <div class="card-body height-9">
                            <div class="row">
                                <div class="profile-userpic">
                                    <img src="../assets/img/user1.svg" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">Mukesh Patil</div>
                                <div class="profile-usertitle-job">Asst. Manager, ZYNQ Software Pvt. Ltd.</div>
                            </div>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Date of Birth</b> <span class="pull-right">16-Apr-2020</span>
                                </li>
                                <li class="list-group-item">
                                    <b>Date of Marriage</b> <span class="pull-right">30-May-2013</span>
                                </li>
                                <li class="list-group-item">
                                    <b>Joined Batch Mate On</b> <span class="pull-right">01-Jun-2020</span>
                                </li>
                                <li class="list-group-item">
                                    <b>I got Thanks</b> <a class="pull-right"><span class="badge orange-bgcolor"> 15 </span></a>
                                </li>
                            </ul>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                            <div class="profile-userbuttons">
                                <button type="button" class="btn btn-circle green btn-sm"><i class="fa fa-handshake-o"></i> Thanks</button>
                            </div>
                            <!-- END SIDEBAR BUTTONS -->
                        </div>
                    </div>
                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-head card-topline-aqua">
                                    <div class="pull-left"><header>About Alumnus</header></div>
                                    <div class="pull-right pr-10"><a href="~/batchmates/details" style="text-transform:lowercase;text-decoration:none;" class="text-batchmate-style">edit <i class="icon-pencil" style="font-size:10px;"></i></a> </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5><b>Contacts:</b> (<span class="text-batchmate-style">Public</span>)</h5>
                                                        <div class="profile-usertitle-job">Email: p_mukesh_s@yahoo.co.in | Mobile: 9960827637</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5><b>Current Address:</b></h5>
                                                        <div class="profile-usertitle-job">H-905,Tanish Orchid, Charholi Bk, Pune, 412105.</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5><b>Permanent Address:</b></h5>
                                                        <div class="profile-usertitle-job">H-905,Tanish Orchid, Charholi Bk, Pune, 412105.</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5><b>Passed Out Year:</b></h5>
                                                        <div class="profile-usertitle-job">1999-2000</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5><b>Education History:</b></h5>
                                                        <div class="profile-usertitle-job">Higher Secondary School [ 1999-2000 ]</div>
                                                        <div class="profile-usertitle-job">Secondary School Certificate [ 1997-1998 ]</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5><b>Batch Mate Account:</b></h5>
                                                        <div class="profile-usertitle-job">Active</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 pt-40">
                                            <h3><i class="icon-organization"></i> My Institute</h3>
                                            <span class="text-center">
                                                <label class="f-16" style="color:#c71585;"><b>Pratap Junior College</b></label><br />
                                                <label>Shirpur Road, Chopda, Dist: Jalgaon</label><br />
                                                <label>Contact: +91 02586 220546 | +91 02586 220999</label>  <br />
                                                <label>Email: <a href="mailto:pratapjrcollege@gmail.com">pratapjrcollege@gmail.com</a></label>
                                                <label>Visit: <a href="www.pratapcollege.com">www.pratapcollege.com</a></label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
        </div>
    </div>
    <!-- end page container -->
</div>

