﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batch Mates</title>

    <!-- google font -->
    <link rel="shortcut icon" href="/Content/img/favicon.ico" type="image/x-icon" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <!-- icons -->
    <link href="~/assets/js/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!--bootstrap -->
    <link href="~/assets/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- theme style -->
    <link href="~/assets/css/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/formlayout.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href="~/assets/js/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="assets/img/bm.png" />
    <script src="~/assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <!-- start js include path -->

    <script src="~/assets/js/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>

    <!-- bootstrap -->
    <script src="~/assets/js/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/js/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/assets/js/bootstrap-tabdrop/js/bootstrap-tabdrop.js" type="text/javascript"></script>

    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/app.js" type="text/javascript"></script>
    <script src="~/assets/js/form-wizard.js" type="text/javascript"></script>
    <script src="~/assets/js/profile.js" type="text/javascript"></script>
    @*<script src="~/assets/js/Bachmate-js/batchmatejs.js" type="text/javascript"></script>*@
    <script src="~/assets/js/layout.js" type="text/javascript"></script>
    <script src="~/assets/js/hrms-custom-file.js"></script>
    <script src="~/Scripts/Batchmates/01_manage_events.js"></script>
    <script src="~/Scripts/Batchmates/02_page_validations.js"></script>
    <script src="~/Scripts/Batchmates/04_ask_questionJs.js"></script>
    <!-- data tables -->
    <script src="~/assets/js/datatables/datatables.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

</head>
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md page-container-bg-solid page-content-white">
    <input type="hidden" id="hdnEmpID" value="@Session["alumnusid"]" />

    <div class="navbar navbar-inverse navbar-fixed-top bm-navbar-bg">
        <div class="container">
            <div class="navbar-header">
                <div class="mt-10">
                    <img src="../../Content/img/BatchMate-logo-white.png" alt="Klaus Multiparking" width="170px" />
                </div>
            </div>

            <div class="page-wrapper">
                <!-- start header -->
                <div class="page-header navbar navbar-fixed-top">
                    <div class="page-header-inner ">
                        <!-- logo start -->
                        <div class="page-logo">
                            <a href="~/dashboard/layout">
                                <img src="../../Content/img/batch-mate-logo.jpg" alt="logo" class="logo-default" style="height:48px;" />
                            </a>
                            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                                <span></span>
                            </a>
                        </div>
                        <div class="hor-menu hidden-sm hidden-xs">
                            <ul class="nav navbar-nav">
                                <li class="nav-item start">
                                    <a href="~/dashboard/layout" class="nav-link">
                                        <i class="icon-grid position-left"></i><span class="title">Dashboard</span>
                                    </a>
                                </li>
                                <li class="classic-menu-dropdown" id="patientMenuItem">
                                    <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                                        <i class="icon-people position-left"></i>Alumni <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li>
                                            <a href="~/batchmates/details">Add New</a>
                                        </li>
                                        <li>
                                            <a href="~/batchmates/list">View All</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item" id="appointmentsMenuItem">
                                    <a href="~/askquestions/list" class="nav-link">
                                        <i class="icon-question"></i>
                                        Ask Questions
                                    </a>
                                </li>
                                <li class="nav-item" id="calendarMenuItem">
                                    <a href="~/events/list" class="nav-link">
                                        <i class="icon-calendar position-left"></i>
                                        Events
                                    </a>
                                </li>
                                <li class="classic-menu-dropdown" id="userMenuItem">
                                    <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                                        <i class="icon-settings position-left"></i>Administration <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li id="Li2">
                                            <a href="~/authentication/users">Users</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- start header menu -->
                        <div class="top-menu">
                            <ul class="nav navbar-nav pull-right">
                                <!-- start manage user dropdown -->
                                <li class="dropdown dropdown-user">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <span class="username username-hide-on-mobile">
                                            @Convert.ToString(Session["first_name"]) @Convert.ToString(Session["last_name"])
                                        </span>
                                        <img alt="user" class="img-circle" src="../assets/img/user1.svg" />
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default">
                                        <li>
                                            <a href="~/batchmates/profile">
                                                <i class="icon-user"></i> Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/batchmates/profile">
                                                <i class="fa fa-pencil-square-o"></i> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/authentication/login">
                                                <i class="icon-logout"></i> Log Out
                                            </a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#" class="text-right" style="color:gray;">
                                                v 1.0.0
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Batch Mates</p>
        </footer>
    </div>

    @*<%--Ok Or cancel modal popup for deleteing the record--%>*@
    <div id="message" class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog" aria-labelledby="ConfirmationEmailModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content c-square">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="mySmallModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <span id="alert_message"></span>
                    @* Alert message across the application *@
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-primary c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase" data-dismiss="modal" onclick="refreshPage();">OK</button>
                            </div>
                            <div class="btn-group pull-right mr-5">
                                <button type="button" class="btn btn-info button-next" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    @*</form>*@
</body>
</html>
