﻿@model  Alumini.Models.AlumniEvent
@{
    ViewBag.Title = "list";
}

<h2>list</h2>

<div class="content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb pt-10">
                <div class="pull-left">
                    <div class="page-title">
                        <span class="icon-calendar mr-5" style="font-size: 21px;"></span>&nbsp; Events
                    </div>
                </div>
                <div class="pull-right pr-10">
                    <button type="button" id="btnNewEvent" class="btn btn-primary btn-animated btn-sm pr-40" data-toggle="modal" data-target="#new_event">New Event<i class="icon-plus3 text-white f-12"></i></button>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="borderBox-title tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#borderBox_tab1" data-toggle="tab">Institute Events</a>
                        </li>
                        <li>
                            <a href="#borderBox_tab2" data-toggle="tab">Batch Events</a>
                        </li>
                        <li>
                            <a href="#borderBox_tab3" data-toggle="tab">My Events</a>
                        </li>
                    </ul>
                </div>

                <div class="borderBox-body panel-body card mt-none">
                    <div class="tab-content form-horizontal">
                        <div class="tab-pane active" id="borderBox_tab1">
                            <div class="card">
                                <div class="card-body">
                                    <div class="bm-question-card mb-15">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="pull-left pr-10">
                                                    <img alt="user" class="img-circle" src="../assets/img/user1.svg" width="40">
                                                </div>
                                                <div class="pull-left">
                                                    <a href="#"><label class="f-16"><b>E20-1: &nbsp; School annual function at Chopda</b></label> <span class="f-12 text-danger">[ 18-Jun-2020 To 20-Jun-2020  ]</span></a><br />
                                                    <div style="font-size:12px;">
                                                        <span class="text-muted">
                                                            Hello Friends, We are about to organize the annual function of our school.
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="pull-right pb-0">
                                                    <button type="button" id="btnYes" class="btn btn-default btn-animated btn-sm pr-40" data-toggle="modal" data-target="#answer">Yes<i class="icon-plus3 text-white f-12"></i></button>
                                                    <button type="button" id="btnNo" class="btn btn-danger btn-animated btn-sm pr-40" data-toggle="modal" data-target="#answer">No<i class="icon-plus3 text-white f-12"></i></button>
                                                    <button type="button" id="btnMayBe" class="btn btn-warning btn-animated btn-sm pr-40" data-toggle="modal" data-target="#answer">May Be<i class="icon-plus3 text-white f-12"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-8 pull-left">
                                                <div class="text-muted pl-20">
                                                    <span class="pull-left pr-15 text-info"><i class="fa fa-check"></i> In Progress</span>
                                                    <span class="pull-left pr-15"><i class="fa fa-thumbs-o-up text-success"></i> 10 Yes</span>
                                                    <span class="pull-left pr-15"><i class="fa fa-thumbs-o-down text-danger"></i> 17 No</span>
                                                    <span class="pull-left pr-15"><i class="fa fa-hand-stop-o text-warning"></i> 10 May Be</span>
                                                    <span class="pull-left pr-15 text-info"><i class="fa fa-globe"></i> Public</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 pull-right">
                                                <span class="pull-right pr-15 f-10 text-muted">Created On: 12-Apr-2020</span>
                                                <span class="pull-right pr-15 f-10 text-muted">Created by: Mojjoko Alisi</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="bm-question-card mb-15">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="pull-left pr-10">
                                                    <img alt="user" class="img-circle" src="../assets/img/user1.svg" width="40">
                                                </div>
                                                <div class="pull-left">
                                                    <a href="#"><label class="f-16"><b>E20-2: &nbsp; Visit of Lata mangeshkar to School</b></label> <span class="f-12 text-danger">[ 11-Apr-2020 To 11-Apr-2020  ]</span></a><br />
                                                    <div style="font-size:12px;">
                                                        <span class="text-muted">
                                                            Hello Friends, The great Lata Mangeshkar is visiting our school this week. Get the passes from admin.
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="pull-right pb-0">
                                                    <button type="button" id="btnYes" class="btn btn-success btn-animated btn-sm pr-40" data-toggle="modal" data-target="#answer">Yes<i class="icon-plus3 text-white f-12"></i></button>
                                                    <button type="button" id="btnNo" class="btn btn-danger btn-animated btn-sm pr-40" data-toggle="modal" data-target="#answer">No<i class="icon-plus3 text-white f-12"></i></button>
                                                    <button type="button" id="btnMayBe" class="btn btn-warning btn-animated btn-sm pr-40" data-toggle="modal" data-target="#answer">May Be<i class="icon-plus3 text-white f-12"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-8 pull-left">
                                                <div class="text-muted pl-20">
                                                    <span class="pull-left pr-15 text-info"><i class="fa fa-check"></i> In Progress</span>
                                                    <span class="pull-left pr-15"><i class="fa fa-thumbs-o-up text-success"></i> 35 Yes</span>
                                                    <span class="pull-left pr-15"><i class="fa fa-thumbs-o-down text-danger"></i> 03 No</span>
                                                    <span class="pull-left pr-15"><i class="fa fa-hand-stop-o text-warning"></i> 05 May Be</span>
                                                    <span class="pull-left pr-15 text-info"><i class="fa fa-globe"></i> Public</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 pull-right">
                                                <span class="pull-right pr-15 f-10 text-muted">Created On: 04-Apr-2020</span>
                                                <span class="pull-right pr-15 f-10 text-muted">Created by: Karmnis Jansi</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="borderBox_tab2">

                        </div>

                        <div class="tab-pane" id="borderBox_tab3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Create Question modal popup author:Mukesh(02-May-2020) *@
    <div id="new_event" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content c-square">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add New Event</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="control-label">
                                    Event Title <span class="text-danger">*</span>
                                </label>
                                @Html.TextBoxFor(a => a.event_title, new { @class = "form-control input-xs", @placeholder = "add title for your event", @validationTabDetails = "validation" })
                                <span class="focus-input"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Who can see? <span class="text-danger">*</span>
                                </label>
                                @Html.DropDownListFor(a => a.who_can_see, new List<SelectListItem> {
                               new SelectListItem { Text = "- Select -", Value = "1" },
                               new SelectListItem { Text = "All", Value = "2" },
                               new SelectListItem { Text = "Only My Batchmates", Value = "3" }}, new { @class = "form-control input-xs select-search", @validationTabDetails = "validation" })
                                <span class="focus-input"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Start Date <span class="text-danger">*</span>
                                </label>
                                @Html.TextBoxFor(a => a.start_date, null, new { @class = "form-control DatepickerCal", @placeholder = "event start date", @validationTabDetails = "validation" })
                                <span class="focus-input"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    End Date <span class="text-danger">*</span>
                                </label>
                                @Html.TextBoxFor(a => a.end_date, null, new { @class = "form-control DatepickerCal", @placeholder = "event end date", @validationTabDetails = "validation" })
                                <span class="focus-input"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Description <span class="text-danger">*</span>
                                </label>
                                @Html.TextAreaFor(a => a.event_description, new { @class = "form-control", @placeholder = "write about event", style = "height:130px;", @validationTabDetails = "validation" })
                                <span class="focus-input"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group pull-right">
                                <input type="button" id="btnSubmit" value="Add" class="btn btn-primary" onclick="SaveEvent('events');" />
                            </div>
                            <div class="btn-group pull-right mr-5">
                                <input type="button" id="btnSubmit" value="Delete" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
